{% extends 'base.html' %}
{% block content %}
    <h1>Privex Multi MTA Log Parser GUI</h1>
    <div class="logo"><img src="static/images/logo.png"></img></div>
    <div class="ui segment form center aligned login">
        <form action="./login" method="post">

            <h3>Please login to proceed.</h3>
            <div class="two fields">
                <div class="field">
                    <input type="password" class="ui input" name="password" placeholder="Type password"/>
                </div>
                <div class="field">
                    <button class="ui button primary"><i class="sign in alternate icon"></i>Log In</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}