{% extends "base.html" %}
{% block content %}
<div class="api_error_container">
    <div v-if="!loading" class="api_error">
        <h2 class="ui red" v-if="localeData.api_error.title" v-html="localeData.api_error.title"></h3>
        <h2 class="ui red" v-else v-html="fallbackLocaleData.api_error.title"></h3>

        {% if status_code %}
        <strong><p><span v-if="localeData.api_error.title" v-html="localeData.api_error.status_code"></span>
        <span v-else v-html="fallbackLocaleData.api_error.status_code"></span>
        </strong>{{ status_code }}</p>
        {% endif %}
        {% if error_code %}
        <strong><p><span v-if="localeData.api_error.error_code" v-html="localeData.api_error.error_code"></span>
        <span v-else v-html="fallbackLocaleData.api_error.error_code"></span>
        </strong>{{ error_code }}</p>
        {% endif %}
        {% if error_msg %}
        <h5><span v-if="localeData.api_error.error_msg" v-html="localeData.api_error.error_msg"></span>
        <span v-else v-html="fallbackLocaleData.api_error.error_msg"></span>
        </h5>{{ error_msg }}
        {% endif %}
        <div class="ui divider"></div>

        {% if description %}
            <p>{{ description|safe }}</p>
        {% else %}
        <span v-if="localeData.api_error.description_default" v-html="localeData.api_error.description_default"></span>
        <span v-else v-html="fallbackLocaleData.api_error.description_default"></span>
        {% endif %}
        <div class="ui divider"></div>

        <p>
            <span v-if="localeData.api_error.server_description_one" v-html="localeData.api_error.server_description_one"></span>
            <span v-else v-html="fallbackLocaleData.api_error.server_description_one"></span>
            <a v-if="localeData.app_title" target="_blank" href="https://github.com/drlight17/multi-mta-parser" v-html="localeData.app_title"></a>
            <a v-else href="https://github.com/drlight17/multi-mta-parser" v-html="fallbackLocaleData.app_title"></a>,
            <span v-if="localeData.api_error.server_description_two" v-html="localeData.api_error.server_description_two"></span>
            <span v-else v-html="fallbackLocaleData.api_error.server_description_two"></span>
            <a href="https://rethinkdb.com/" target="_blank">RethinkDB</a>.
        </p>

        {% if debug %}
            <div class="ui divider"></div>
            {% if exc_name %}
            <p>
            <strong v-if="localeData.api_error.exc_name" v-html="localeData.api_error.exc_name"></strong>
            <strong v-else v-html="localeData.api_error.exc_name"></strong>
            {{ exc_name }}</p>
            {% endif %}
            {% if exc_msg %}
            <p>
            <strong v-if="localeData.api_error.exc_msg" v-html="localeData.api_error.exc_msg"></strong>
            <strong v-else v-html="localeData.api_error.exc_msg"></strong>
            {{ exc_msg }}</p>
            {% endif %}
            {% if traceback %}
            <h3 v-if="localeData.api_error.traceback" v-html="localeData.api_error.traceback"></h3>
            <h3 v-else v-html="localeData.api_error.traceback"></h3>
                <pre>{{ traceback }}</pre>
            {% endif %}
        {% endif %}


        {% if data %}
            <div class="ui divider"></div>
            <h3 v-if="localeData.api_error.data" v-html="localeData.api_error.data"></h3>
            <h3 v-else v-html="localeData.api_error.data"></h3>
            <pre class="prettyprint">{{ data }}</pre>
        {% endif %}
        {% block afterdata %}{% endblock %}
    </div>
</div>
{% endblock %}
