<!DOCTYPE html>
<html>
<head>
    <!-- add mobile switch gui -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
        <!-- add favicon
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"/> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <!-- custom.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}"/>
    <!-- add semanticui with calendar support -->
    <link onerror="window.js_load_error = true" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css" crossorigin="anonymous">
	<!-- add notiejs-->
    <link onerror="window.js_load_error = true" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notie@4.3.1/dist/notie.min.css" crossorigin="anonymous">
    <!-- add chartist-->
    <link onerror="window.js_load_error = true" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@1.3.0/dist/index.min.css">

    {% block head_scripts %}
    <!-- all neccassary js modules are loaded from jsdelivr CDN below-->
    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/notie@4.3.1/dist/notie.min.js" crossorigin="anonymous"></script>
    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.3.1/dist/jquery.min.js" crossorigin="anonymous"></script>
     <!--add semanticui with calendar support-->
    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js" crossorigin="anonymous"></script>
    <!-- add moment for datetime client functions -->
    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <!-- add back to top button-->
    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js" crossorigin="anonymous"></script>
    <!-- add colResizable -->
    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/@eflexsystems/colresizable@1.6.0-4/colResizable.min.js" crossorigin="anonymous"></script>

    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-min.min.js"></script>

    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

    <!-- add chart.js -->
    <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

    {% if VUE_DEBUG %}
        <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.js" crossorigin="anonymous"></script>
    {% else %}
            <script onerror="window.js_load_error = true" src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js" crossorigin="anonymous"></script>
    {% endif %}

    <script src="{{ url_for('static', filename='js/main_app.js') }}" path_prefix="{{ settings.path_prefix }}" datetime_format="{{ settings.datetime_format }}" lang_files="{{ settings.lang_files }}" housekeeping_days="{{ settings.housekeeping_days }}" args = "{{ ARGS }}" notie_message="{{ NOTIE_MESSAGE }}" login="{{ LOGIN }}" mail_domain="{{ settings.mail_domain }}" parser_version="{{ VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/pager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/local_settings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
        <!-- for vue 3 -->
    <script>
        window.addEventListener('load', () => {
            if (window.js_load_error) {
                 document.write("Error! Some neccessary js modules and/or stylesheets weren't loaded! Application will be corrupted somehow! Check console log for details and fix all errors!");
            } else {
                window.app = app.mount('#app');
            }
        });
    </script>
    
    {% endblock %}


</head>
<body id="app" >
    <title v-if="localeData.app_title">[[ localeData.app_title ]] {{ settings.mail_domain }}</title>
    <title v-else>[[ fallbackLocaleData.app_title ]] {{ settings.mail_domain }}</title>

    <div class="ui basic modal" id="loading-modal" style="background: transparent!important; box-shadow: initial!important" >
            <div class="ui active huge indeterminate text loader">
                <span v-if="localeData.loading" v-html="localeData.loading"></span>
                <span v-else v-html="fallbackLocaleData.loading"></span>
            </div>
    </div>

    <div style="display:none!important" id="main-wrapper" class="ui main fluid container">
        
        {% block login %}{% endblock %}

        {% block content %}{% endblock %}

        <div v-if="!loading" class="ui segment" id="footer">
			<div>
				<span v-if="localeData.footer.two" v-html="localeData.footer.two"></span>
				<span v-else v-html="fallbackLocaleData.footer.two"></span>
				{{ VERSION }}
				<span v-if="localeData.footer.three" v-html="localeData.footer.three"></span>
				<span v-else v-html="fallbackLocaleData.footer.three"></span>
				<br>
				<span style="opacity:.5;" v-if="localeData.footer.one" v-html="localeData.footer.one"></span>
				<span style="opacity:.5;" v-else v-html="fallbackLocaleData.footer.one"></span>
			</div>
            <a target="_blank" href="https://github.com/drlight17">
				<img class="developed_by" src="{{ url_for('static', filename='images/developed_by_drlight.png') }}" />
			</a>
        </div>
    </div>

    {% block scripts %}
    {% endblock %}
</body>
</html>
