{% extends 'base.html' %}
{% block content %}
<div id="acc_list">
    <div class="top_title">
        <div class="logo">
            <div class="field wrapper">
                <a href="#"><img width="60" src="{{ url_for('static', filename='images/logo.png')|version }}"></img></a>
            </div>
            <div class="field title">
                <h1 v-if="localeData.app_title">[[ localeData.app_title ]] <span style="text-decoration:underline">{{ settings.mail_domain }}</span></h1>
                <h1 v-else>[[ fallbackLocaleData.app_title ]] <span style="text-decoration:underline">{{ settings.mail_domain }}</span></h1>
            </div>
            
        </div>
    </div>

    <div v-if="!loading" :class="{ borderless: is_mobile, centered: is_mobile, inverted: settings.dark, icon: vertical_menu, vertical: vertical_menu }" class="ui menu">
        <div class="left menu" :class="{ inverted: settings.dark, ui: is_mobile }">
            <a :title="localeData.user_settings.current_user_title" class="item"><i class="user icon"></i>&nbsp;<span v-if="localeData.user_settings.current_user" v-html="localeData.user_settings.current_user"></span>
                <span v-else v-html="fallbackLocaleData.user_settings.current_user"></span>&nbsp;
                <b><u><span v-html="login"></span></u></b></a>
            {% if not settings.ldap_connect %}
            <a :title="localeData.user_settings.back_to_emails_title" @click="emails_back()" class="item"><i class="undo icon"></i>&nbsp;<span v-if="localeData.user_settings.back_to_emails" v-html="localeData.user_settings.back_to_emails"></span><span v-else v-html="fallbackLocaleData.user_settings.back_to_emails"></span></a>
            {% else %}
            <a class="item disabled"><i class="address card icon"></i>&nbsp;<span v-if="localeData.user_settings.acc_ctrl_disabled" v-html="localeData.user_settings.acc_ctrl_disabled"></span><span v-else v-html="fallbackLocaleData.user_settings.acc_ctrl_disabled"></span></a>
            {% endif %}
        </div>
        <div class="right menu" :class="{ inverted: settings.dark, ui: is_mobile }">
            <a :title="localeData.settings_title" @click="showSettings()" class="item"><i class="tools icon"></i></a>
            <a :title="localeData.tips_title" @click="showTips()" class="item"><i class="bookmark icon"></i></a>
            <!--<a :title="localeData.hide_set_tips_title" @click="toggleHide('.settips')" class="item togglesettips">
                <i class="bookmark icon"></i>&nbsp;
                <i class ="chevron icon" :class="{ up: !hidden_settips, down: hidden_settips }" class="chevron icon"></i>-->
            <a :title="localeData.user_settings.log_out_title" @click="logout()" class="item"><i class="sign out alternate icon"></i>&nbsp;<span v-if="localeData.user_settings.log_out" v-html="localeData.user_settings.log_out"></span><span v-else v-html="fallbackLocaleData.user_settings.log_out"></span></a>
            </a>
        </div>
    </div>

    <!--<Pager v-model="page" :page-count="page_count"></Pager>-->
    <table id="auth-list" class="ui table celled emails-list" v-if="!loading">
        <thead>
            <tr>
                <th v-if="localeData.auth_list.index" id="index"><i class="hashtag icon"></i></th>
                <th v-else id="index"><i class="hashtag icon"></i></th>

                <th v-if="localeData.auth_list.id" id="id"><i class="user icon"></i> [[ localeData.auth_list.id ]]</th>
                <th v-else id="id"><i class="user icon"></i> [[ fallbackLocaleData.auth_list.id ]]</th>

                <th v-if="localeData.auth_list.password" id="password"><i class="key icon"></i> [[ localeData.auth_list.password ]]</th>
                <th v-else id="password"><i class="key icon"></i> [[ fallbackLocaleData.auth_list.password ]]</th>
            </tr>
        </thead>
        <tbody>
            <tr @click="show_acc_modal(accounts,counter_index,true)" v-for="(a, counter_index) in accounts">
                <td><span>[[ counter_index+1 ]]</span></td>
                <td><span>[[ a.id ]]</span></td>
                <td><span>********</span></td>
                <!--<td><button @click="show_modal(m)" class="ui button primary"><i class="envelope open icon"></i><span v-if="localeData.emails_list.show_button">[[ localeData.emails_list.show_button ]]</span><span v-else>[[ fallbackLocaleData.emails_list.show_button ]]</span></button></td>-->
            </tr>
            <tr>
                <td @click="show_acc_modal(null,null,false)" colspan="3"><span style="display: block;text-align: center;"><i class="plus icon"></i></span></td>
                <!--<td onclick="window.location='./register_new'" colspan="3"><span style="display: block;text-align: center;">+</span></td>-->
            </tr>
        </tbody>
    </table>


    <div class="ui modal" id="acc-modal" :class="{ inverted: settings.dark }" >
        <i class="close icon"></i>
        <div id="login-form-wrapper" v-if="!loading" :class="{ inverted: settings.dark }" class="ui segment form center aligned login" style="margin-top:0;">
            <form ref="edit" @submit.prevent="" action="./register" method="post">
                <h3 v-if="edit_type && localeData.register.message2" v-html="localeData.register.message2"></h3>
                <h3 v-else-if="!edit_type && localeData.register.message" v-html="localeData.register.message"></h3>
                <h3 v-else-if="edit_type && fallbackLocaleData.register.message2" v-html="fallbackLocaleData.register.message2"></h3>
                <h3 v-else-if="!edit_type && fallbackLocaleData.register.message" v-html="fallbackLocaleData.register.message"></h3>
                    <div class="field">
                        <div class="ui input left icon">
                            <input ref="login" v-if="localeData.register.login_ph" autocomplete="on" :class="{ disabled: edit_type }" class="ui input left icon" name="login" :placeholder="localeData.register.login_ph" :value="acc.id">
                            <input ref="login" v-else autocomplete="on" class="ui input disabled" name="login" :placeholder="fallbackLocaleData.register.login_ph" :value="acc.id">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui input left icon">
                            <input ref="password" v-if="localeData.register.password_ph" autocomplete="on" type="password" id="password" class="ui input" name="password" :placeholder="localeData.register.password_ph" :value="acc.password">
                            <input ref="password" v-else autocomplete="on" type="password" class="ui input" name="password" :placeholder="fallbackLocaleData.register.password_ph" :value="acc.password">
                            <i class="key icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui input left icon">
                            <input ref="password2" v-if="localeData.register.password_again_ph" autocomplete="on" type="password" id="password2" class="ui input" name="password2" :placeholder="localeData.register.password_again_ph" :value="acc.password">
                            <input ref="password2" v-else autocomplete="on" type="password" class="ui input" name="password2" :placeholder="fallbackLocaleData.register.password_again_ph" :value="acc.password">
                            <i class="key icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <input ref="act_type" id="act_type" name="act_type" class="ui input" type="hidden">
                    </div>
                    <div class="field">
                        <button v-if="edit_type" @click="submitForm('edit')" class="ui button primary submit navi"><i class="edit icon"></i><span v-if="localeData.register.edit_button" v-html="localeData.register.edit_button"></span><span v-else v-html="fallbackLocaleData.register.edit_button"></span></button>
                    </div>
                    <div class="field">
                        <button v-if="edit_type" @click="submitForm('delete')" class="ui button primary red navi"><i class="eraser icon"></i><span v-if="localeData.register.delete_button" v-html="localeData.register.delete_button"></span><span v-else v-html="fallbackLocaleData.register.delete_button"></span></button>
                    </div>
                    <div class="field">
                        <button v-if="!edit_type" @click="submitForm('new')" class="ui button primary submit navi"><i class="file icon"></i><span v-if="localeData.register.login_button" v-html="localeData.register.login_button"></span><span v-else v-html="fallbackLocaleData.register.login_button"></span></button>
                    </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>

    <div class="ui modal" id="settings-modal" :class="{ inverted: settings.dark }">
            <i class="close icon"></i>
        <local-settings ref="localSettings" @settings-loaded="settings_loaded" @settings-saved="settings_saved"></local-settings>
    </div>

    <div class="ui modal" id="tips-modal" :class="{ inverted: settings.dark }">
        <i class="close icon"></i>
            <div id="tips" v-if="!loading" class="sixteen wide column">
                <div class="ui segment">
                    <h3><i class="big bookmark icon"></i><span v-if="localeData.tips.title2" v-html="localeData.tips.title2"></span><span v-else v-html="fallbackLocaleData.tips.title2"></span></h3>
                    <ul>
                        <li v-if="localeData.tips.thirteen" v-html="localeData.tips.thirteen">
                        <li v-else v-html="fallbackLocaleData.tips.thirteen">
                        </li>
                        <li v-if="localeData.tips.fourteen" v-html="localeData.tips.fourteen">
                        <li v-else v-html="fallbackLocaleData.tips.fourteen">
                        </li>
                        <li v-if="localeData.tips.fifteen" v-html="localeData.tips.fifteen">
                        <li v-else v-html="fallbackLocaleData.tips.fifteen">
                        </li>
                    </ul>
                </div>
            </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}
