{% extends 'base.html' %}
{% block content %}
<div id="emails_list">
    <div class="top_title">
        <div class="logo">
            <div class="field wrapper">
                <a href="#"><img width="60" src="{{ url_for('static', filename='images/logo.png') }}"></img></a>
            </div>
            <div class="field title">
                <h1 v-if="localeData.app_title">[[ localeData.app_title ]] <span style="text-decoration:underline">{{ settings.mail_domain }}</span></h1>
                <h1 v-else>[[ fallbackLocaleData.app_title ]] <span style="text-decoration:underline">{{ settings.mail_domain }}</span></h1>

            </div>
            
        </div>
        <div v-if="!loading" class="logout">
            <button @click="logout()" class="ui button red center"><i class="sign out alternate icon"></i><span v-if="localeData.user_settings.log_out" v-html="localeData.user_settings.log_out"></span><span v-else v-html="fallbackLocaleData.user_settings.log_out"></span></button>
        </div>
    </div>
    <div class="ui stackable two column grid">
        <div id="user-settings" class="six wide column">
            <local-settings @settings-loaded="settings_loaded" @settings-saved="settings_saved"></local-settings>
        </div>
        <div id="tips" v-if="!loading" class="ten wide column">
            <div class="ui segment">
                <h3><i class="bookmark icon"></i><span v-if="localeData.tips.title" v-html="localeData.tips.title"></span><span v-else v-html="fallbackLocaleData.tips.title"></span></h3>
                <ul>
                    <li v-if="localeData.tips.one" v-html="localeData.tips.one">
                    <li v-else v-html="fallbackLocaleData.tips.one">
                    </li>
                    <li v-if="localeData.tips.two" v-html="localeData.tips.two">
                    <li v-else v-html="fallbackLocaleData.tips.two">
                    </li>
                    <li v-if="localeData.tips.three" v-html="localeData.tips.three">
                    <li v-else v-html="fallbackLocaleData.tips.three">
                    </li>
                    <li v-if="localeData.tips.four" v-html="localeData.tips.four">
                    <li v-else v-html="fallbackLocaleData.tips.four">
                    </li>
                    <li v-if="localeData.tips.five" v-html="localeData.tips.five">
                    <li v-else v-html="fallbackLocaleData.tips.five">
                    </li>
                    <li v-if="localeData.tips.eleven" v-html="localeData.tips.eleven">
                    <li v-else v-html="fallbackLocaleData.tips.eleven">
                    </li>
                    <li>
                    {% if settings.mta %}
                        <span v-if="localeData.tips.six" v-html="localeData.tips.six"></span>
                        <span v-else v-html="fallbackLocaleData.tips.six"></span><strong style="text-transform:uppercase"> {{ settings.mta }}</strong>
                    {% else %}
                        <span v-if="localeData.tips.six_default" v-html="localeData.tips.six_default"></span>
                        <span v-else v-html="fallbackLocaleData.tips.six_default"></span>
                    {% endif %}
                    </li>
                    <li>
                        <span v-if="localeData.tips.seven" v-html="localeData.tips.seven"></span>
                        <span v-else v-html="fallbackLocaleData.tips.seven"></span>
                        <strong> {{ settings.default_limit }}</strong>
                    </li>
                    <li>
                        <span v-if="localeData.tips.eight" v-html="localeData.tips.eight"></span>
                        <span v-else v-html="fallbackLocaleData.tips.eight"></span>
                        <strong> {{ settings.max_limit }}</strong>
                    </li>
                    {% if settings.housekeeping_days %}
                    <li>
                        <span v-if="localeData.tips.nine" v-html="localeData.tips.nine"></span>
                        <span v-else v-html="fallbackLocaleData.tips.nine"></span>
                        <strong> {{ settings.housekeeping_days }}</strong>
                    </li>
                    {% endif %}
                    {% if settings.datetime_format %}
                    <li>
                         <span v-if="localeData.tips.ten" v-html="localeData.tips.ten"></span>
                         <span v-else v-html="fallbackLocaleData.tips.ten"></span>
                         <strong> {{ settings.datetime_format }}</strong>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div id="filters-wrapper" v-if="!loading" class="ui segment stackable two column grid">
        <div class="eight wide column">
            <h3><span v-if="localeData.filters.search" v-html="localeData.filters.search"></span><span v-else v-html="fallbackLocaleData.filters.search"></span></h3>
            <div class="ui form">
                <div class="three fields">
                    <div class="field">
                        <div class="ui input left icon">
                            <input id="text_search" v-if="localeData.filters.search_placeholder" v-model="search" type="text" class="ui input" :placeholder="localeData.filters.search_placeholder">
                            <input id="text_search" v-else v-model="search" type="text" class="ui input" :placeholder="fallbackLocaleData.filters.search_placeholder">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <span v-if="localeData.filters.search_by" v-html="localeData.filters.search_by" id="by"></span>
                    <span v-else v-html="fallbackLocaleData.filters.search_by" id="by"></span>
                    <div class="field">
                        <select name="searchby-email" id="searchby-email" v-model="search_by" class="ui selection dropdown">
                            <!--<option value="id" data-content="<i class='stream icon'></i>Queue ID"></option>-->
                            <option v-if="localeData.filters.search_by_id" value="id" v-html="localeData.filters.search_by_id"></option>
                            <option v-else value="id" v-html="fallbackLocaleData.filters.search_by_id"></option>
                            <option v-if="localeData.filters.search_by_mail_from" value="mail_from" v-html="localeData.filters.search_by_mail_from"></option>
                            <option v-else value="mail_from" v-html="fallbackLocaleData.filters.search_by_mail_from"></option>
                            <option v-if="localeData.filters.search_by_mail_to" value="mail_to" v-html="localeData.filters.search_by_mail_to"></option>
                            <option v-else value="mail_to" v-html="fallbackLocaleData.filters.search_by_mail_to"></option>
                            <option v-if="localeData.filters.search_by_subject" value="subject" v-html="localeData.filters.search_by_subject"></option>
                            <option v-else value="subject" v-html="fallbackLocaleData.filters.search_by_subject"></option>
                            <option v-if="localeData.filters.search_by_log_lines" value="log_lines" v-html="localeData.filters.search_by_log_lines"></option>
                            <option v-else value="log_lines" v-html="fallbackLocaleData.filters.search_by_log_lines"></option>
                            <!--<option value="timestamp__lt">Older Than</option>
                            <option value="timestamp__gt">Newer Than</option>-->
                        </select>
                    </div>
                    <div class="field">
                        <select name="filter-email" id="filter-email" v-model="status_filter" class="ui selection dropdown">
                            <option v-if="localeData.filters.status_filter_NOFILTER" value="NOFILTER" v-html="localeData.filters.status_filter_NOFILTER"></option>
                            <option v-else value="NOFILTER" v-html="fallbackLocaleData.filters.status_filter_NOFILTER"></option>
                            <option v-if="localeData.filters.status_filter_sent" value="sent" v-html="localeData.filters.status_filter_sent"></option>
                            <option v-else value="sent" v-html="fallbackLocaleData.filters.status_filter_sent"></option>
                            <option v-if="localeData.filters.status_filter_bounced" value="bounced" v-html="localeData.filters.status_filter_bounced"></option>
                            <option v-else value="bounced" v-html="fallbackLocaleData.filters.status_filter_bounced"></option>
                            <option v-if="localeData.filters.status_filter_deferred" value="deferred" v-html="localeData.filters.status_filter_deferred"></option>
                            <option v-else value="deferred" v-html="fallbackLocaleData.filters.status_filter_deferred"></option>
                            <option v-if="localeData.filters.status_filter_reject" value="reject" v-html="localeData.filters.status_filter_reject"></option>
                            <option v-else value="reject" v-html="fallbackLocaleData.filters.status_filter_reject"></option>
                            <option v-if="localeData.filters.status_filter_multiple" value="multiple" v-html="localeData.filters.status_filter_multiple"></option>
                            <option v-else value="multiple" v-html="fallbackLocaleData.filters.status_filter_multiple"></option>
                            <option v-if="localeData.filters.status_filter_unknown" value="unknown" v-html="localeData.filters.status_filter_unknown"></option>
                            <option v-else value="unknown" v-html="fallbackLocaleData.filters.status_filter_unknown"></option>
                        </select>
                    </div>
                    <!--<div class="field">
                        <button @click="resetTextStatusFilters()" class="ui button grey" v-bind:disabled="!isDisabledText">Reset</button>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <h3><span v-if="localeData.filters.date_filter_title" v-html="localeData.filters.date_filter_title"></span><span v-else v-html="fallbackLocaleData.filters.date_filter_title"></span></h3>
            <div class="ui form">
                <div class="three fields">
                  <div class="field">
                    <div class="ui calendar" :class="{ inverted: settings.dark }" id="rangestart">
                      <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input v-if="localeData.filters.date_filter__gt_placeholder" v-model="date_filter__gt" type="text" :placeholder="localeData.filters.date_filter__gt_placeholder">
                        <input v-else v-model="date_filter__gt" type="text" :placeholder="fallbackLocaleData.filters.date_filter__gt_placeholder">
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui calendar" :class="{ inverted: settings.dark }" id="rangeend">
                      <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input v-if="localeData.filters.date_filter__lt_placeholder" v-model="date_filter__lt" type="text" :placeholder="localeData.filters.date_filter__lt_placeholder">
                        <input v-else v-model="date_filter__lt" type="text" :placeholder="fallbackLocaleData.filters.date_filter__lt_placeholder">
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <button @click="resetFilters()" class="ui button grey" v-if="!loading" v-bind:disabled="!isDisabled"><i class="eraser icon"></i><span v-if="localeData.filters.reset_button" v-html="localeData.filters.reset_button"></span><span v-else v-html="fallbackLocaleData.filters.reset_button"></span></button>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!--<Pager v-model="page" :page-count="page_count"></Pager>-->
    <table id="emails-list" class="ui table celled emails-list" v-if="!loading">
        <thead>
            <tr>
                <th v-if="localeData.emails_list.timestamp" id="timestamp"><i class="clock icon"></i> [[ localeData.emails_list.timestamp ]]</th>
                <th v-else id="timestamp"><i class="clock icon"></i> [[ fallbackLocaleData.emails_list.timestamp ]]</th>
                <th v-if="localeData.emails_list.timestamp" id="id"><i class="stream icon"></i> [[ localeData.emails_list.queue_id ]]</th>
                <th v-else id="queue_id"><i class="stream icon"></i> [[ fallbackLocaleData.emails_list.queue_id ]]</th>
                <th v-if="localeData.emails_list.timestamp" id="status"><i class="info icon"></i> [[ localeData.emails_list.status_code ]]</th>
                <th v-else id="status"><i class="info icon"></i> [[ fallbackLocaleData.emails_list.status_code ]]</th>
                <th v-if="localeData.emails_list.mail_from" id="mail_from"><i class="address card icon"></i> [[ localeData.emails_list.mail_from ]]</th>
                <th v-else id="mail_from"><i class="address card icon"></i> [[ fallbackLocaleData.emails_list.mail_from ]]</th>
                <th v-if="localeData.emails_list.mail_to" id="mail_to"><i class="address card outline icon"></i> [[ localeData.emails_list.mail_to ]]</th>
                <th v-else id="mail_to"><i class="address card outline icon"></i> [[ fallbackLocaleData.emails_list.mail_to ]]</th>
                <th v-if="localeData.emails_list.subject" id="subject"><i class="terminal icon"></i> [[ localeData.emails_list.subject ]]</th>
                <th v-else id="subject"><i class="terminal icon"></i> [[ fallbackLocaleData.emails_list.subject ]]</th>
                <th v-if="localeData.emails_list.size" id="size"><i class="hdd icon"></i> [[ localeData.emails_list.size ]]</th>
                <th v-else id="size"><i class="hdd icon"></i> [[ fallbackLocaleData.emails_list.size ]]</th>
                <th v-if="localeData.emails_list.first_attempt" id="first_attempt"><i class="hourglass start icon"></i> [[ localeData.emails_list.first_attempt ]]</th>
                <th v-else id="first_attempt"><i class="hourglass start icon"></i> [[ fallbackLocaleData.emails_list.first_attempt ]]</th>
                <th v-if="localeData.emails_list.last_attempt" id="last_attempt"><i class="hourglass end icon"></i> [[ localeData.emails_list.last_attempt ]]</th>
                <th v-else id="last_attempt"><i class="hourglass end icon"></i> [[ fallbackLocaleData.emails_list.last_attempt ]]</th>
                <!--<th id="refresh-button" ><button @click="loadEmails(true)" class="ui button primary refresh-button"><i class="sync icon"></i></button></th>-->
            </tr>
        </thead>
        <tbody>
            <tr @click="show_modal(m)" v-for="m in emails">
                <td><span>[[ m.timestamp ]]</span></td>
                <td><span>[[ m.id ]]</span></td>
                <td><span>[[ m.status.code ]]</span></td>
                <td><span>[[ m.mail_from ]]</span></td>
                <td><span>[[ m.mail_to ]]</span></td>
                <td><span>[[ m.subject ]]</span></td>
                <td><span>[[ m.size ]]</span></td>
                <td><span>[[ m.first_attempt ]]</span></td>
                <td><span>[[ m.last_attempt ]]</span></td>
                <!--<td><button @click="show_modal(m)" class="ui button primary"><i class="envelope open icon"></i><span v-if="localeData.emails_list.show_button">[[ localeData.emails_list.show_button ]]</span><span v-else>[[ fallbackLocaleData.emails_list.show_button ]]</span></button></td>-->
            </tr>
        </tbody>
    </table>

    <pager v-model="page" :page-count="page_count" :emails-count="count"></pager>

    <div class="ui modal" id="mail-modal" :class="{ inverted: settings.dark }">
        <i class="close icon"></i>
        <div class="header" style="background-color: inherit" v-if="msg.id">
            <span v-if="localeData.emails_list.email">[[ localeData.emails_list.email ]]</span><span v-else>[[ fallbackLocaleData.emails_list.email ]]</span> [[ msg.id ]]
        </div>
        <div class="content" v-if="msg.id">
            <h3><i class="envelope open icon"></i><span v-if="localeData.emails_list.email_pars">[[ localeData.emails_list.email_pars ]]</span><span v-else>[[ fallbackLocaleData.emails_list.email_pars ]]</span></h3>
            <table class="ui definition table" id="email-metadata" :class="{ inverted: settings.dark }">
                <tbody>
                    <tr>
                        <td v-if="localeData.emails_list.timestamp"><i class="clock icon"></i> [[ localeData.emails_list.timestamp ]]</td>
                        <td v-else><i class="clock icon"></i> [[ fallbackLocaleData.emails_list.timestamp ]]</td>
                        <td>[[ msg.timestamp ]]</td>
                    </tr>
                    <tr>
                        <td v-if="localeData.emails_list.queue_id"><i class="stream icon"></i> [[ localeData.emails_list.queue_id ]]</td>
                        <td v-else><i class="stream icon"></i> [[ fallbackLocaleData.emails_list.queue_id ]]</td>
                        <td>[[ msg.id ]]</td>
                    </tr>
                    <tr>
                        <td v-if="localeData.emails_list.message_id"><i class="file alternate icon"></i> [[ localeData.emails_list.message_id ]]</td>
                        <td v-else><i class="file alternate icon"></i> [[ fallbackLocaleData.emails_list.message_id ]]</td>
                        <td>[[ msg.message_id ]]</td>
                    </tr>
                    <tr>
                        <td v-if="localeData.emails_list.mail_from"><i class="address card icon"></i> [[ localeData.emails_list.mail_from ]]</td>
                        <td v-else><i class="address card icon"></i> [[ fallbackLocaleData.emails_list.mail_from ]]</td>
                        <td>[[ msg.mail_from ]]</td>
                    </tr>
                    <tr>
                        <td v-if="localeData.emails_list.mail_to"><i class="address card outline icon"></i> [[ localeData.emails_list.mail_to ]]</td>
                        <td v-else><i class="address card outline icon"></i> [[ fallbackLocaleData.emails_list.mail_to ]]</td>
                        <td>[[ msg.mail_to ]]</td>
                    </tr>
                    <tr>
                        <td v-if="localeData.emails_list.subject"><i class="terminal icon"></i> [[ localeData.emails_list.subject ]]</td>
                        <td v-else><i class="terminal icon"></i> [[ fallbackLocaleData.emails_list.subject ]]</td>
                        <td>[[ msg.subject ]]</td>
                    </tr>
                     <tr>
                        <td v-if="localeData.emails_list.size"><i class="hdd icon"></i> [[ localeData.emails_list.size ]]</td>
                        <td v-else><i class="hdd icon"></i> [[ fallbackLocaleData.emails_list.size ]]</td>
                        <td>[[ msg.size ]]</td>
                    </tr>
                    <tr>
                        <td v-if="localeData.emails_list.status"><i class="archive icon"></i> [[ localeData.emails_list.status ]]</td>
                        <td v-else><i class="archive icon"></i> [[ fallbackLocaleData.emails_list.status ]]</td>
                        <td class="max-70">
                            <strong v-if="localeData.emails_list.status_code">[[ localeData.emails_list.status_code ]]:</strong><strong v-else>[[ fallbackLocaleData.emails_list.status_code ]]:</strong> [[ msg.status.code ]] <br/>
                            <strong v-if="localeData.emails_list.status_message">[[ localeData.emails_list.status_message ]]:</strong><strong v-else>[[ fallbackLocaleData.emails_list.status_message ]]:</strong><br/>
                            <code>[[ msg.status.message ]]</code>
                        </td>
                    </tr>
                    <tr>
                        <td v-if="localeData.emails_list.client"><i class="desktop icon"></i> [[ localeData.emails_list.client ]]</td>
                        <td v-else><i class="desktop icon"></i> [[ fallbackLocaleData.emails_list.client ]]</td>
                        <td>
                            <strong v-if="localeData.emails_list.host">[[ localeData.emails_list.host ]]:</strong><strong v-else>[[ fallbackLocaleData.emails_list.host ]]:</strong> [[ msg.client.host ]] <br/>
                            <strong v-if="localeData.emails_list.ip">[[ localeData.emails_list.ip ]]:</strong><strong v-else>[[ fallbackLocaleData.emails_list.ip ]]:</strong> [[ msg.client.ip ]]
                        </td>
                    </tr>
                    <tr>
                        <td v-if="localeData.emails_list.relay"><i class="server icon"></i> [[ localeData.emails_list.relay ]]</td>
                        <td v-else><i class="server icon"></i> [[ fallbackLocaleData.emails_list.relay ]]</td>
                        <td>
                            <strong v-if="localeData.emails_list.host">[[ localeData.emails_list.host ]]:</strong><strong v-else>[[ fallbackLocaleData.emails_list.host ]]:</strong> [[ msg.relay.host ]] <br/>
                            <strong v-if="localeData.emails_list.ip">[[ localeData.emails_list.ip ]]:</strong><strong v-else>[[ fallbackLocaleData.emails_list.ip ]]:</strong> [[ msg.relay.ip ]] (port [[ msg.relay.port ]])
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 v-if="localeData.emails_list.log_lines"><i class="code icon"></i> [[ localeData.emails_list.log_lines ]]</h3>
            <h3 v-else><i class="code icon"></i> [[ fallbackLocaleData.emails_list.log_lines ]]</h3>

            <ul>
                <li v-for="l in msg.lines">[[ l.timestamp ]] [[ l.queue_id ]] [[ l.message ]]</li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
