{% extends 'base.html' %}
{% block login %}

    <div id="login">
        <h1 class="top_title" style="display: inherit; text-align: center;" v-if="localeData.app_title">[[ localeData.app_title ]] <span style="text-decoration:underline">{{ settings.mail_domain }}</span></h1>
        <h1 class="top_title" style="display: inherit; text-align: center;" v-else>[[ fallbackLocaleData.app_title ]] <span style="text-decoration:underline">{{ settings.mail_domain }}</span></h1>

        <div class="logo login"><img src="{{ url_for('static', filename='images/logo.png')|version }}"></img></div>
        <div id="login-form-wrapper" v-if="!loading" class="ui segment form center aligned login">
            <form action="./login" method="post">
                {% if not settings.ldap_connect %}
                <h3 v-if="localeData.login.message" v-html="localeData.login.message"></h3>
                <h3 v-else v-html="fallbackLocaleData.login.message"></h3>
                {% else %}
                <h3 v-if="localeData.login.message_ldap" v-html="localeData.login.message_ldap"></h3>
                <h3 v-else v-html="fallbackLocaleData.login.message_ldap"></h3>
                {% endif %}
                    <div class="field">
                        <div class="ui input left icon">
                            <input v-if="localeData.login.login_ph" autocomplete="on" class="ui input" name="login" :placeholder="localeData.login.login_ph">
                            <input v-else autocomplete="on" class="ui input" name="login" :placeholder="fallbackLocaleData.login.login_ph">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui input left icon">
                            <input v-if="localeData.login.password_ph" autocomplete="on" type="password" class="ui input" name="password" :placeholder="localeData.login.password_ph">
                            <input v-else autocomplete="on" type="password" class="ui input" name="password" :placeholder="fallbackLocaleData.login.password_ph">
                            <i class="key icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui button primary navi"><i class="sign in alternate icon"></i><span v-if="localeData.login.login_button" v-html="localeData.login.login_button"></span><span v-else v-html="fallbackLocaleData.login.login_button"></span></button>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}